*{
    margin: 0;
    padding: 0;
} 
body {
    background-color: rgb(26, 24, 24);
    color: white;
}
.nav_bar {
    display: flex;
    justify-content: space-between;
    font-family: tahoma;
    background-color:rgb(115, 115, 123);
    
}
.nav_bar div {
    height: 2cm;
    line-height: 2cm;
    margin: 0px 18px;
}
.list ul {
    display: flex;
    gap: 0.5cm;
}
.list li {
    list-style: none;
}
.list a {
    text-decoration: none;
    color: white;
    font-size: 11px;
}
.list a:hover {
    text-decoration: underline;
}
.placeholder input {
    height: 1cm;
    width: 9cm;
    border-radius: 0.3cm;
    padding: 0px 15px;
    margin-left: 1.6cm;
}
.placeholder placeholder{
    padding: 0.2cm;
}
.div_class {
    display: flex;
     justify-content: space-between;
     margin: 0.5cm;
}
.div_class1 {
    height: 4cm;
    width: 13.5cm;
    border-radius: 0.4cm;
    background-color: rgb(80, 80, 229);
    padding: 0.7cm 0.6cm;
    font-family: tahoma;
    font-size: 0.6cm;
}
.div_class2 {
    border-radius: 0.4cm;
    background-color: rgb(80, 80, 229);
    padding: 0.7cm 0.6cm;
    font-family: tahoma;
    font-size: 0.6cm;
    margin: 0cm 0.2cm;
}